/* Typography ==================================*/
body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #fff;
	background-color:#202122;	
}

a:link,
a:hover,
a:visited {
	color: #00A6EB;
}

p {
	margin-left:15px;
}

.sectitle {
	background-color: #00A6EB;
	height: 24px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

/* holders =====================================*/

#bookingFormHolder {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border:1px solid #00A6EB;
}

.left {
	padding:2px;
	color:#fff;
}

/*form elements ================================*/

input[type="submit"] {
	font-size:13px;
}

/* Job Booking Response ***************************/

.section-break {
    border-bottom: 1px solid #666;
}

.confirm-address {
    background-color: #515253;
}

/* Job Tracking Response ************************************/

.pager-button-active {
    color: #00A6EB;

}
